.new-invoice{
    padding: 15px;
    .invoice-form{
        .invoice-header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                display: flex;
                align-items: flex-end;
                
                h4{
                    margin: 0;
                }
            }
            .invoice-info{
                h4{
                    margin: 0;
                }
                h4:last-child{
                    margin-top: 10px;
                }
            }
        }
        .sender-receiver{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .form-table{
            table{
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }

            td,th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        }
    }
}

@media print{
    .MuiAppBar-root{
        display: none !important;
    }
    .MuiDrawer-root{
        display: none !important;
    }
    .MuiPaper-root{
        box-shadow: none !important;
    }
    .pay-button{
        display: none !important;
    }
}